

html, body {
  height: 100%; 
  margin: 0;   
  font-family: 'Arial', sans-serif; 
  color: #333333;
  background-color: #F5F5F5; 
  line-height: 1.6; 
}

.App {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
}

main {
  flex: 1; 
  padding: 20px; 
}

h1 {
  font-size: 75px;
}

h1, h2, h3 {
  color: #19191a; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
  color: #4A90E2; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}
