

.about-me {
    text-align: center;
    padding: 20px;
  }
  
  .about-me-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  
  .profile-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
  }
  